name: run-tests

on:
  push:
    branches: [main, 2.x]
  pull_request:
    branches: [main, 2.x]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        php: [8.4, 8.3, 8.2, 8.1]

    name: PHP ${{ matrix.php }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip
          coverage: none

      - name: Install dependencies
        run: composer update --prefer-stable --prefer-dist --no-interaction

      - name: Run tests
        run: vendor/bin/phpunit

      - name: Check code formatting
        run: vendor/bin/pint --test
